manifest {
    mainScript = 'concTree.nf'
}

profiles {
    crg {
        process {
          executor='crg'
          queue='long-sl65'
          time='60h'
        }
    }
    
    dockerized {
        docker.enabled=true
        process.container='skptic/conctree'
        params.guidanceDir='/guidance.v2.01'
    }
}

env {
    GUIDANCE2DIR="$baseDir/software/guidance.v2.01"
    HHLIB="$baseDir/software/hhsuite-2.0.16-linux-x86_64"
    PERL5LIB="$PERL5LIB:$baseDir/software/hhsuite-2.0.16-linux-x86_64/scripts:$baseDir/perl5lib"
}
